body {
  background-color: #3B9390;
  height: 100%;
}

#center-section {
  background-color: white;
  bottom: 0px;
}

.extra-margin {
  height: 60px;
}

h2 {
  color: #3B9390;
}

span {
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: underline;
}

.separate-margin {
  margin-top: 5em;
  margin-bottom: 5em;
}

.excess-list li {
  display: inline;
}

.ct-label {
  color: black !important;
  font-size: 1.3rem !important;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: #3B9390;
}
